@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@theme {
  --font-sans: "Pretendard", sans-serif;

  --color-blue: #1428a0;
  --color-dark-blue: #0d1b3e;
  --color-light-blue: #0049ff;
  --color-light-black: #424242;
  --color-gray: #424242;
  --color-border-gray: #eeeeee;
  --color-light-gray: #f8f8f8;
  --color-beige: #fff6d4;

  --text-xs: 15px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 30px;
  --text-xl: 45px;
}

html,
body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 768px) {
  h1 {
    font-size: clamp(var(--text-lg), calc((60 / 1920) * 100vw), 60px);
    font-weight: 700;
  }

  .main-sm-text {
    font-size: clamp(var(--text-sm), calc((20 / 1920) * 100vw), var(--text-md));
  }

  .ts-card-title {
    font-size: clamp(var(--text-md), calc((25 / 1920) * 100vw), 25px);
  }

  .ts-card-content {
    font-size: clamp(16px, calc((20 / 1920) * 100vw), 20px);
  }
}

/* Navbar Styles */
/* .navbar-base {
  @apply fixed top-0 left-0 w-full px-[93px] pt-[60px] pb-[280.96px] flex justify-between items-center z-10 transition-all duration-300 ease-in-out;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.95) 25%,
    rgba(255, 255, 255, 0.7) 45%,
    transparent 100%
  );
}

.navbar-scrolled {
  @apply fixed top-0 left-0 w-full px-[93px] py-[20px] flex justify-between items-center z-10 transition-all duration-300 ease-in-out;
  background-color: rgba(255, 255, 255, 0.63);
} */

/* Differentiation Section */
/* .differentiation-section {
  background: linear-gradient(
    45deg,
    #eeeeee 0%,
    white 50%,
    #eeeeee 100%
  );
} */

/* Gradient Text */
/* .gradient-text {
  background: linear-gradient(90deg, #0d1b3e 0%, #1428a0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */
